name: Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # Cancel only when the run is NOT on `main` branch
  cancel-in-progress: ${{ github.ref != 'refs/heads/main'  }}

jobs:
  validate-pr:
    runs-on: macos-latest-xlarge
    name: Validate PR
    timeout-minutes: 20
    env:
      JAVA_OPTS: "-Xmx8g -Dfile.encoding=UTF-8 -Djava.awt.headless=true -Dkotlin.daemon.jvm.options=-Xmx6g"
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: 'always'
          cache-read-only: true

      - name: Build with Gradle
        run: |-
          ./gradlew --no-daemon \
            --rerun-tasks \
            clean \
            ktlintCheck \
            build \
            koverLog koverHtmlReport \
            publishToMavenLocal \
            -Pversion=0.0.1-SNAPSHOT

      - name: Build Kotlin-MCP-Client Sample
        working-directory: ./samples/kotlin-mcp-client
        run: ./gradlew --no-daemon clean build -Pmcp.kotlin.overrideVersion=0.0.1-SNAPSHOT

      - name: Build Kotlin-MCP-Server Sample
        working-directory: ./samples/kotlin-mcp-server
        run: ./gradlew --no-daemon clean build -Pmcp.kotlin.overrideVersion=0.0.1-SNAPSHOT

      - name: Build Weather-Stdio-Server Sample
        working-directory: ./samples/weather-stdio-server
        run: ./gradlew --no-daemon clean build -Pmcp.kotlin.overrideVersion=0.0.1-SNAPSHOT

      - name: Run Conformance Tests
        run: ./gradlew conformance

      - name: Upload Conformance Results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: conformance-results
          path: kotlin-sdk-test/results/

      - name: Upload Reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v5
        with:
          name: reports
          path: |
            **/build/reports/

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: ${{ !cancelled() }} # always run even if the previous step fails
        with:
          report_paths: '**/test-results/**/TEST-*.xml'
          detailed_summary: true
          flaky_summary: true
          include_empty_in_summary: false
          include_time_in_summary: true
          annotate_only: true

      - name: Disable Auto-Merge on Fail
        if: failure() && github.event_name == 'pull_request'
        run: gh pr merge --disable-auto "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
